h1 sf-i18n test

h2=i18n.__('title')
p=i18n.__(i18n.currentLocale)

ul
  li
    a(href="/locales/en") #{i18n.__("en")}
  li
    a(href="/locales/fr") #{i18n.__("fr")}
  li
    a(href="/locales/it") #{i18n.__("it")}  

    
p=i18n.__('dedeliberately-missing-element')  
